<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test depends on method feature">
    <classes>
      <class name="testngAnnotations.DependsOnMethod"/>
      <class name="testngAnnotations.FirstTestNGClass"/>
    </classes>
  </test> <!-- Test -->

<test thread-count="5" name="Test priorty feature">
    <classes>
          <class name="testngAnnotations.DependsOnMethod"/>
      <class name="testngAnnotations.FirstTestNGClass"/>
    </classes>
  </test> <!-- Test -->
  </suite> <!-- Suite -->
  